#gallery{
        position:relative;
}
#imageView {border: 1px solid #000;}

#buttonbar {
        height: 50px;
}

#fileOpen_dialog{
        title:"This is cool";
}
#imageView{
        float:left;
}
#canvas{
        float:left;
}

#slider{
        position:relative,
}

.selector {
        float:left;
}

